aiohappyeyeballs
aiohttp
aioice
aiortc
aiosignal
attrs
av
azure-core
azure-identity
azure-storage-blob
casadi
certifi
cffi
charset-normalizer
click
cloudpickle
codespell
coloredlogs
contourpy
coverage
crcmod
cryptography
cycler
cython
dictdiffer
dnspython
ewmhlib
execnet
farama-notifications
filelock
flaky
flatbuffers
fonttools
frozenlist
future-fstrings
ghp-import
google-crc32c
humanfriendly
hypothesis
idna
ifaddr
importlib-metadata
iniconfig
inputs
isodate
jinja2
json-rpc
kiwisolver
libusb1
lru-dict
lxml
markdown
markupsafe
matplotlib
mergedeep
metadrive-simulator
mkdocs
mkdocs-get-deps
mouseinfo
mpmath
msal
msal-extensions
multidict
mypy
mypy-extensions
natsort
numpy
onnx
onnxruntime-gpu
opencv-python-headless
packaging
panda3d
panda3d-gltf
panda3d-simplepbr
parameterized
pathspec
pillow
platformdirs
pluggy
portalocker
pre-commit-hooks
progressbar
propcache
protobuf
psutil
pyarrow
pyaudio
pyautogui
pycapnp
pycparser
pycryptodome
pyee
pygetwindow
pygments
pyjwt
pylibsrtp
pymonctl
pymsgbox
pyopencl
pyopenssl
pyparsing
pyperclip
pyprof2calltree
pyqt5
pyqt5-sip
pyrect
pyscreeze
pyserial
pytest
pytest-asyncio
pytest-cov
pytest-cpp
pytest-mock
pytest-randomly
pytest-repeat
pytest-subtests
pytest-timeout
pytest-xdist
python-dateutil
python-xlib
python3-xlib
pytools
pytweening
pywinbox
pywinctl
pyyaml
pyyaml-env-tag
pyzmq
requests
rerun-sdk
ruamel-yaml
ruamel-yaml-clib
ruff
scons
sentry-sdk
setproctitle
setuptools
shapely
siphash24
six
smbus2
sortedcontainers
sounddevice
spidev
sympy
tabulate
tomli
tqdm
types-requests
types-tabulate
typing-extensions
urllib3
watchdog
websocket-client
yapf
yarl
zipp
zstandard
